CalculatorWebService_Client/web/WEB-INF/wsdl/localhost_8080/CalculatorWebService_Server/CalculatorWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator/" name="CalculatorWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator/" schemaLocation="http://localhost:8080/CalculatorWebService_Server/CalculatorWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<portType name="CalculatorWebService">
<operation name="subtract">
<input wsam:Action="http://calculator/CalculatorWebService/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://calculator/CalculatorWebService/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://calculator/CalculatorWebService/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://calculator/CalculatorWebService/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://calculator/CalculatorWebService/addRequest" message="tns:add"/>
<output wsam:Action="http://calculator/CalculatorWebService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://calculator/CalculatorWebService/divideRequest" message="tns:divide"/>
<output wsam:Action="http://calculator/CalculatorWebService/divideResponse" message="tns:divideResponse"/>
</operation>
</portType>
<binding name="CalculatorWebServicePortBinding" type="tns:CalculatorWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatorWebService">
<port name="CalculatorWebServicePort" binding="tns:CalculatorWebServicePortBinding">
<soap:address location="http://localhost:8080/CalculatorWebService_Server/CalculatorWebService"/>
</port>
</service>
</definitions>